<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\static\css\Home.css" th:href="@{/css/Home.css}">
  <title>売買</title>
</head>
<script src="../../js/Buying.js"></script>
<script type="text/javascript" th:inline="javascript">
  var userDto = /*[[${userDto}]]*/"userDto";
  var auto = userDto.auto;
  if (auto == null) {
    auto = "false";
  }
  window.onload = function(){
    let options= document.getElementById('auto').options;
    selected(options, auto);
  }
</script>
<body>
  <h2>売買</h2>
  <form action="buyInvest" method="POST">
    <select name="id">
      <tr th:each="invest : ${investList}">
        <option th:value="${invest.id}"><a th:text="${invest.name}"></a></option>
      </tr>
    </select>
    個数
    <input type="text" name="quantity">
    <button>購入</button>
    <a th:text="${userDto.money}"></a>
  </form>
  <select id="auto" name="auto">
    <option value="true">自動取引ON</option>
    <option value="false">自動取引OFF</option>
  </select>
  <form action="sellInvest" method="POST">
    <select name="id">
      <tr th:each="buy : ${buyList}">
        <option th:value="${buy.investId}"><a th:text="${buy.investName}"></a></option>
      </tr>
    </select>
    個数
    <input type="text" name="quantity">
    <button>売却</button>
  </form>
  <h2>購入取引一覧</h2>
  <table>
    <tr style="background-color: #a9a9a9">
      <th>商品名</th>
      <th>個数</th>
      <th>購入価格</th>
    </tr>
    <tr th:each="buy : ${buyList}">
      <td><a th:text="${buy.investName}"></a></td>
      <td><a th:text="${buy.quantity}"></a></td>
      <td><a th:text="${buy.buyPrice}"></a></td>
    </tr>
  </table>
</body>
</html>