<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\static\css\CreateUser.css" th:href="@{/css/CreateUser.css}">
  <title>新規登録画面</title>
</head>
<script src="../../js/UserCheck.js"></script>
<body>
  <div class="center">
    <div class="error">
      <a th:text="${error}">
    </div>
    <form action="users/create" method="POST">
      <div class="name">お名前</div>
      <div class="div"><input type="text" name="userName" class="text-form1" oninput="nameCheck(this)" required></div>
      <div class="mailaddress">メールアドレス</div>
      <div class="div"><input type="email" name="mailaddress" class="text-form1" required></div>
      <div class="password">パスワード</div>
      <div class="div"><input type="password" name="password" class="text-form1" oninput="passwordCheck(this)" required></div>
      <button type="button" class="buttonBase button1" onclick="location.href='/login'">戻る</button>
      <button class="buttonBase button2">登録</button>
    </form>
  </div>
</body>
</html>